.auth-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: #0f172a;
    /* Dark base */
    background-image:
        radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
        radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
        radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    padding-top: 140px;
    /* Account for navbar height */
    overflow: hidden;
}

.auth-card {
    border: none;
    border-radius: 1rem;
}

.w-100 {
    width: 100%;
}