<nav class="navbar" [class.auth-page]="isAuthPage()">
    <div class="navbar-container">
        <div class="navbar-logo" routerLink="/">
            <span class="logo-text">Event<span class="logo-accent">Time</span></span>
        </div>

        <div class="navbar-right-group">
            <div class="navbar-links">
                @if(authService.isAuthenticated()){
                <a [routerLink]="getPath('dashboard')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">Tableau de bord</a>
                }
                <a routerLink="/events" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">Évènements</a>
                <a routerLink="/organisations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">Organisations</a>
                
            </div>

            <div class="navbar-actions">
                @if (!authService.isAuthenticated()) {
                <button class="btn-login" routerLink="/auth/login">Connexion</button>
                <button class="btn-signup" routerLink="/auth/register">S'inscrire</button>
                } @else {
                <div class="user-info d-flex align-items-center gap-3">
                    @if (authService.currentUser(); as user) {
                    <span class="text small d-none d-md-inline">
                        Bonjour, <strong>{{ user.firstName }}</strong>
                    </span>
                    }
                    <button class="btn-login" (click)="logout()">Déconnexion</button>
                </div>
                }
            </div>
            <div class="profile-icon" >
                <a [routerLink]="getPath('profile')">
                    <mat-icon [style.color]="'#007bff'" [style.fontSize]="'28px'">person</mat-icon>
                </a>
            </div>
        </div>