.section-title {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.table-container {
    background: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.1);
}

.custom-table {
    width: 100%;
}

/* Ajustement pour que le select Material soit plus petit dans le tableau */
.dense-select {
    width: 150px;
    font-size: 0.9em;
}

/* Enlève le padding excessif sous le select */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}